<article class="equation">
        <div class="equation-content">
          <div class="equation-text">
         <img src="http://latex.codecogs.com/svg.latex?{{equationText}}" border="0"/>
          </div>
         <ul class="variable-list">	
      <li class="variable">{{variable1}}</li>
      <li class="variable">{{variable2}}</li>
      <li class="variable">{{variable3}}</li>
      <li class="variable">{{variable4}}</li>

         </ul>
        </div>
      </article>
